@import url('https://fonts.googleapis.com/css?family=Lemonada|Nunito&display=swap');
$headingFont: 'Lemonada', cursive; 
$mainFont: 'Nunito', sans-serif;
$red: #DD353D;
$vanilla: #D0C8B0;
$mainGrey: #454545;
$subGrey: #565E85;
$white: #F5F5F5;
$baseFntSize: 16px;
$headFntSize: 30px;